[Desktop Entry]
Comment[es]=Un tema semi-traslucido
Comment=A semi-translucent theme
Name=Krypton
X-KDE-PluginInfo-Author=Mcder3
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=mcder3[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=Krypton
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://twitter.com/mcder3
X-Plasma-API=5.0
